.slider {
    height: 420px;

    @media (min-width:320px) {
        height: 484px;
    }

    @media (min-width:480px) {
        height: 520px;
    }

    @media (min-width:681px) {
        height: 600px;
    }

    @media (min-width:1024px) {
        height: 450px;
    }

    @media (min-width:1400px) {
        height: 614px;
    }





    .swiper {
        width: 100%;
        height: 100%;


        .swiper-wrapper {
            position: relative;

            .swiper-slide {

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                & {
                    .zoom {
                        animation: SlideAnimation 15s linear forwards;

                    }
                }

                & {
                    .out {
                        animation: SlideAnimation 15s linear forwards reverse;
                    }
                }

                @keyframes SlideAnimation {
                    0% {
                        transform: scale(1);
                    }

                    100% {
                        transform: scale(1.07);
                    }
                }

            }
        }

        .swiper-pagination {
            @media (min-width: 1024px) {
                display: none;
            }
        }

        .container {
            position: relative;

            .text_wrapper {
                position: absolute;
                top: -460px;
                left: 20px;
                max-width: 281px;
                z-index: 99;
                margin: auto;
                user-select: none;


                @media (min-width:768px) {
                    max-width: 339px;
                    left: 8%;
                }

                @media (min-width:1024px) {
                    max-width: 347px;
                    left: 20px;
                    top: -370px;
                }

                @media (min-width:1400px) {
                    max-width: 429px;
                    top: -534px;
                    left: 8%;
                }

                @media (min-width:1600px) {
                    max-width: 506px;
                    left: 20px;
                }



                h1,
                p,
                .signature {
                    opacity: 0;
                    transition: .5s;
                }

                h1 {
                    @include Font($f-s: 30px, $f-w: 400, $l-h: 40px);
                    margin: 0 0 30px 0;
                    animation: textAniamtion 1s ease .7s forwards;

                    span {
                        color: $clr_header_different;
                    }

                    @media (min-width:576px) {
                        font-size: 33px;
                    }

                    @media(min-width:768px) {
                        max-width: 339px;
                        @include Font($f-s: 41px, $l-h: 51px);
                    }
                    @media (min-width:1400px) {
                        max-width: 347px;
                        width: 100%;
                    }
                    
                    @media (min-width:1600px) {
                        @include Font($f-s: 60px, $l-h: 70px);
                        width: 100%;
                    }
                }

                p {
                    display: none;
                    font-size: 14px;
                    margin: 0 0 25px;
                    animation: textAniamtion 1s ease .9s forwards;

                    @media (min-width:480px) {
                        display: block;
                    }

                    @media (min-width:1024px) and (max-width:1200px) {
                        font-size: 16px;
                    }

                    @media (min-width:1200px) {
                        font-size: 17px;
                    }
                }

                .signature {
                    animation: textAniamtion 1s ease 1.1s forwards;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                @keyframes textAniamtion {
                    from {
                        opacity: 0;
                    }

                    to {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.products {
margin: 0 0 40px;
    padding: 57px 0 75px;
    box-sizing: border-box;

    .category_wrapper {
        @include Flex($d: flex, $j-c: space-between);
        margin: 0 0 27px;
        padding: 15px 0 0;

        a {
            @include Font($f-w: 500, $l-s: 1.2px);
        }

        .accordion {
            @media (min-width:768px) {
                display: none;
            }

            .categiries {
                a {
                    &:hover {
                        color: $clr_primary;
                    }
                }
            }

        }

        .category_menu {
            display: none;

            li {
                &:not(:last-child) {
                    margin: 0 25px 0 0;

                    @media (min-width:1200px) {
                        margin: 0 32px 0 0;
                    }
                }

                a {
                    &:hover {
                        color: $clr_primary;
                    }
                }
            }

            @media (min-width:768px) {
                display: flex;
            }
        }

        .filter_wrapper {

            position: relative;
            width: 40%;

            @media (min-width:681px) {
                width: 20%;
            }

            .filter_header {
                button {
                    border: none;
                    background-color: transparent;
                    letter-spacing: .1em;

                    i {
                        padding: 0 0 0 10px;
                    }
                }

                text-align: right;
            }

            .filter_menu {
                box-sizing: content-box;
                position: absolute;
                background-color: #fff;
                right: 0;
                visibility: hidden;
                opacity: 0;
                z-index: 999;

                padding: 13px 30px 17px;
                width: 140%;
                transition: all 0.3s;

                .sort,
                .price {
                    @media (min-width: 1200px) {
                        width: 50%;
                    }
                }

                li {
                    display: block;
                    max-width: 150px;

                    a {
                        font-size: 13px;
                        @include Font ($f-s: 13px, $l-s: normal, $l-h: 29px);
                        color: $clr_submenu;
                    }
                }

                @media (min-width:1200px) {
                    display: flex;
                }

                h3 {
                    margin: 20px 0;
                }

                &.active {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    .product_card {

        &:hover {

            .product_info {
                .product_price {
                    .action {
                        transform: translateX(50%);
                        opacity: 1;
                    }

                    .price {
                        transform: translateX(50%);
                        opacity: 0;
                    }
                }
            }
        }

        .product_image {
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: .2s;

                &:hover {
                    transform: scale(1.02);
                }
            }

            .sold,
            .sale {
                position: absolute;
                padding: 3px 12px;
                top: 10px;
                left: 10px;
                font-size: 16px;
            }

            .sold {
                background-color: $clr_heading;
                color: #fff;
            }

            .sale {
                background-color: #fff;
                color: $clr_heading;
            }
        }

        .product_info {
            text-align: center;
            margin: 23px 0 0;

            .product_price {
                text-align: center;
                display: inline-block;
                position: relative;
                width: 50%;
                top: -15px;

                .action {
                    opacity: 0;
                    position: absolute;
                    display: inline-block;
                    width: max-content;
                    transition: all .2s;
                    right: 50%;
                    z-index: 5;

                    a {
                        &:hover {
                            color: $clr_primary;
                        }
                    }
                }

                .price {

                    position: absolute;
                    left: 0;
                    right: 0;
                    transition: all .2s;
                    z-index: 4;
                    color: $clr_info;
                }
            }
        }
    }

}

.video_slogan {
    padding: 120px 0;
    background-color: $clr_backfirst;

        .slogan_card {
            .video_image {
                overflow: hidden;
                position: relative;
                cursor: pointer;

                &:first-child:hover {
                    img {
                        transform: scale(1.03);
                    }

                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.3s;

                }

                span {
                    position: relative;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 55px;
                    height: 55px;
                    border-radius: 50%;
                    background-color: #fff;

                    @media (min-width:768px) {
                        width: 103px;
                        height: 103px;
                    }

                    &::after {
                        content: "\F231";
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        font-family: 'Bootstrap-icons';
                        font-size: 20px;
                        color: $clr_primary;

                        @media (min-width:768px) {
                            font-size: 34px;
                        }

                    }
                }
            }

            .slogan_title {

                @media (min-width:576px) {
                    max-width: 456px;
                }

                @media (min-width:1400px) {
                    max-width: 489px;
                }


                h2 {
                    span {
                        color: $clr_header_different;
                    }
                }

                p {
                    margin: 27px 0;

                    @media (min-width:1024px) {
                        margin: 13px 0;
                    }

                    @media (min-width:1200px) {
                        margin: 27px 0;
                    }
                }

                .text {
                    li {
                        line-height: 29px;

                        &:not(:last-child) {
                            margin: 0 0 18px;
                        }
                    }

                    img {
                        margin: 0 13px 0 0;
                    }
                }
            }
        }
    

}

.experts {
    margin: 138px 0 80px;

    .expert {
        text-align: center;
        padding: 34px 15px;

        .image {
           @media (min-width: 320px) {
            width: 222px;
            height: 222px;
           }
            border-radius: 50%;
            margin: auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        .info {
            margin: 18px 0 0;

            span {
                color: $clr_info;
            }
        }
    }
}

.subscribe {
    background-position: unset;
    background-size: cover;
    background-repeat: no-repeat;

    @media(min-width:1024px) {
        background-attachment: fixed;

    }

    .form_content {

        padding: 184px 0;


        .form_wrapper {
            width: 100%;
            padding: 0 15px;
            text-align: center;
            margin: auto;

            @media (min-width:480px) {
                max-width: 665px;
            }

            h6 {
                margin: 0 0 31px;
                color: #fff;
            }

            form {
                display: flex;

                input {
                    padding: 10px;

                    @extend %input;

                    @media (min-width:480px) {
                        padding: 18px 19px;
                    }
                }

                a {
                    padding: 10px;
                    @extend %btn;

                    @media (min-width:480px) {
                        padding: 18px 42px;
                    }
                }
            }

        }
    }
}

.blog {
    padding: 98px 0 101px;
    background-color: $clr_backsecond;


        .blog_card {
            .blog_image {
                position: relative;
                margin: 0 0 29px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.3s;
                }

                &:hover {
                    img {
                        transform: scale(1.05);
                    }
                }

                .date {
                    @include Font ($f-s: 10px, $l-h: 1em);
                    padding: 11px 24px;
                    background-color: #fff;
                    color: #000;
                    position: absolute;
                    top: 10px;
                    left: 10px;

                    &:hover {
                        color: $clr_primary;
                    }
                }
            }

            .blog_title {
                width: 86%;
                margin: auto;
                text-align: center;

                p {
                    @include Font ($f-s: 15px, $l-h: 1.6em);
                    margin: 15px 0 0;
                }
            }
        }
    
}

.feedback {
    margin: 84px 0 112px;

    .swiper-slide {

        .slider_wrapper {
            margin: 35px 0 0;
            text-align: center;

            .image {
                width: 87px;
                height: 87px;
                margin: auto;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .text {
                margin: 30px 0 0;

                p {
                    @include Font ($f-s: 24px, $l-h: 1.5em);
                    font-style: italic;
                }
            }

            .author {
                margin: 38px 0 0;

                span {
                    color: $clr_info;
                }
            }
        }



        @media (min-width:1024px) {
            padding: 0 100px;
        }




    }
}