$clr_primary: #f34f3f;
$clr_secondary: #0E0E0E;
$clr_header_different: #ff0000;
$clr_btn: #ff3d2a;
$clr_header_txt: #1b1b1b;
$clr_heading: #2b2b2b;
$clr_submenu: #737373;
$clr_info: #afafaf;
$clr_txt: #6d6a6a;
$clr_backfirst: #f7f7f7;
$clr_backsecond: #f8f8f8;
$clr_footer_txt: #8b8b8b;
$clr_footer_back: #fefaf3;
$clr_arrow: #9e9b9b;
$clr_input_border: #e8e8e8;